<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="/static/css/main.css">
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>









<div class="row">


       


        <div class="col-xs-12 col-md-3 col-sm-3 col-md-offset-2 col-xs-offset-0  text-center thumbnail ">
            <div class="coupons" style="background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;">
                <div class="typeTag">
                    <p class="text-capitalize">
                        </p><div class="typeTag">                           
                            <p class="text-right"  itemname="Action Grey Running Shoes"  itemimgurl="http://static12.jassets.com/p/Action-Grey-Running-Shoes-2009-789947-1-product.jpg" actiontype="4" category="Sports shoes" brandname="Action" department="Shoes" gender="men"  title="I Love It"><span class="fa fa-heart-o"></span><span></span></p>
                        </div>
                    <p></p>
                </div>
                <div class="addMoreItems" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add to Shop ">
                    

                </div>
                
                    <div class="couponsImageHolder">
                        <img class="cloudzoom" alt="action Grey Running Shoes" id="zoom1" src="http://static12.jassets.com/p/Action-Grey-Running-Shoes-2009-789947-1-product.jpg" style="-webkit-user-select: none;">
                    </div>
                
            </div>

            <!-- slider start here--> 

            <div class="container-fluid" style="margin: 0; padding: 0;">
                
                <!--/well-->
            </div>
            <!-- slider close here-->

        </div>
        <!-- Zoom Image Holder-->

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class=" well well-sm">
                <h4 class="text-uppercase">action Grey Running Shoes</h4>
            </div>
            <!-- well close-->
            <!--alert-info close-->
            <div class="col-md-6 col-sm-6">
                <p class="text-capitalize text-muted">Selling Price:</p>
                <h4 class="text-capitalize text-muted ">Rs. 1399 </h4>

                <div class="h2">
                    <button class="btn btn-danger btn-lg " data-toggle="modal"  vendorurl="http://www.jabong.com/action-Grey-Running-Shoes-749987.html" >Buy Now</button>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Find Size</button>
                </div>
                <div class="option_boxes">
                    <h4> Available Sizes </h4>
                     <div class="radio">
                     <input type="hidden" id="opt123" name="variable" value="{{ results.UK }}">
                     <div>
                        <label><input type="radio" name="optradio" id="8.00">UK 8 / EU 42.5</label>
                     </div>
                     <div>   
                        <label><input type="radio" name="optradio" id="9.00">UK 9 / EU 44</label>
                     </div>
                     <div>   
                        <label><input type="radio" name="optradio" id="10.00" >UK 10 / EU 45</label>
                     </div>   
                </div>

            </div>
            

</div>
            
            
            
            
        </div>
        


    



    
</div>        







<div class="container">
<!--
  <h2>Modal UK {{ results.UK }} / EU {{ results.EU }}</h2>
-->
  <!-- Trigger the modal with a button -->
<!--  
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Find Size</button>
-->  
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">CYZEM</h4>
        </div>
        <div class="modal-body">
          
          <form method="POST" action="" enctype="multipart/form-data"> 
<!--              <input name="csrfmiddlewaretoken" value="14NLxhdsM7Dv9godE88y2vABCndJqhu7dgqnR9ZIRyFksEH6UsMLNue7YXNYlZPe" type="hidden">-->
{% csrf_token %}
          <!-- <p><label for="id_image">Image:</label> <input type="file" name="image" required id="id_image" /></p>
<p><label for="id_Gender">Gender:</label> <input type="text" name="Gender" required id="id_Gender" /></p> -->
          <!-- <p><label for="id_image">Image:</label> <input type="file" name="image" required id="id_image" ></p>-->
          <div>
          <!--
           <img src="/static/ins.jpeg" class="img-responsive" width="500" height="10" alt="intro"> 
           -->
          <div class="video-container">
           <div class="overlay-desc">
           
<!--          <img class="img-responsive" src="/static/ui2.png" width="250">      -->
           
          </div>
          <!--
          <input type="file" accept="image/1" capture="camera">
          -->
          <video id="video" class="img-responsive" src="" accept="image/1" capture="camera" style="" width="300" height="200"></video>
           
          </div>
          <!--
          <input type="file" accept="image/*;capture=camera">
          -->

          <div class="modal-footer">
<!--          <button id="capture" type="submit" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#secondModal" data-dismiss="modal"> Take Photo</button>-->
              <button id="capture" type="submit" class="btn btn-primary btn-block btn-lg" data-toggle="modal"  > Take Photo</button>
              <input type="submit" value="save"/>

           <!--
            <input type='submit' class="btn btn-success btn-block" value='Create Post' />
          -->
          </div>
          
          
        
    
          <!--<p><label for="id_Gender">Gender:</label><input type="text" name="Gender" value="F" required id="id_Gender" /></p> -->
          <div class="mybox">
          <canvas id="canvas" width="480" height="640"> </canvas>
          <img id="photo" name="image" src="/static/intro.jpg" alt="Photo of you">

          <label for="Gender">Gender : </label>
          <label for="id_Gender" class="radio-inline"><input id="id_Gender" name="Gender" value="M" type="radio">Male </label>
          <label for="id_Gender" class="radio-inline"><input id="id_Gender" name="Gender" value="F" type="radio">Female </label>
          <input id="id_image" name="image" required="" type="file">
            
          </div>

          </div>


          
            
          
          
          
          </form>
    
        </div>
      </div>
    </div>
  </div>


  <!-- Modal 2 -->
  <div class="modal fade" id="secondModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">CYZEM</h4>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <h3> Recomended Size </h3>
            <h4> UK {{ results.UK }} / EU {{ results.EU }} </h4>
            <div class="mybox">
            <canvas id="canvas1" class="img-responsive" width="400" height="300"> </canvas>
            
            
            <img id="photo1" name="image" class="img-responsive" src="/static/intro.jpg" alt="Photo of you">
            </div>
            <!--
            <img src="/static/intro.jpg" class="img-responsive" width="500" height="10" alt="intro">
            -->
            <span style="display:block; height: 60px;"></span>
            <button id="Cart" type="button" class="btn btn-success   btn-lg"  data-dismiss="modal">    Add to Cart    </button>
            <span style="display:block; height: 40px;"></span>
           
            <button id="Shop" type="button" class="btn btn-danger  btn-lg" data-dismiss="modal"> Continue Shopping</button>
            <p>  </p>
            <span style="display:block; height: 100px;"></span>
          
            
          </div>
        </div>
        <div class="modal-footer">
           <button id="another" type="button" class="btn btn-warning btn-block btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#myModal"> Retry </button>
          
        </div>
      </div>
    </div>
  </div>



</div>
<script src="/static/js/photo.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>



</body>
</html>
